<p>calc works!</p>
<div class="calc">
    <input type="text" class="calc_menu" value="0.0" disabled />

    <div class="calcbuttons">


        <button type="button" class="operation" value="clear">clear</button>
        <button type="button" class="operation" value="=">=</button>

        <button type="button" class="operation" value="x">x</button>
        <button type="button" class="operation" value="/">/</button>
        <button type="button" class="operation" value="+">+</button>
        <button type="button" class="operation" value="-">-</button>


        <button type="button" value="1">1</button>
        <button type="button" value="2">2</button>
        <button type="button" value="3">3</button>
        <button type="button" value="4">4</button>
        <button type="button" value="5">5</button>
    </div>
</div>